---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { Button } from "@/components/ui/button"

const title = "QuoteSync - Simplifica la creación de Cotizaciones"
---

<DefaultLayout title={title}>
	<h1>QuoteSync</h1>
	<Button>Probar Ahora!</Button>
</DefaultLayout>
