---
import '../styles/globals.scss'
import {Header} from "../components/widgets/Header";
import {Footer} from "../components/widgets/Footer";

const { title } = Astro.props;
---

<html lang="es" class="overflow-x-hidden">
  <head>
      <!-- Google Tag Manager -->
      <script is:inline>
        (function (w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
          var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != "dataLayer" ? "&l=" + l : "";
          j.async = true;
          j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
          f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-NHZTWNFN");
      </script>
      <!-- End Google Tag Manager -->

      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <meta name="title" content="No más hojas de cálculo para cotizaciones. ¡Prueba gratis ahora!">
      <meta name="description" content="Simplifica la creación de presupuestos con nuestra aplicación intuitiva. Gestiona empleados, clientes, categorías, productos, servicios y cotizaciones de manera eficiente.">
      <meta name="author" content="QuoteSync">
      <title>{title}</title>
  </head>

  <body class="flex flex-col">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NHZTWNFN"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <Header client:load />
    <article class="flex-1 flex justify-center p-5">
      <main class="w-full max-w-[1920px]">
        <slot />
      </main>
    </article>
    <Footer />
  </body>
</html>
